name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@v2.4.0
      with:
        node-version: '16.6.1'
        cache: 'yarn'
    - run: yarn
    - run: yarn test